# thanks to https://github.com/torfsen/python-systemd-tutorial

[Unit]
Description=Riverboard Servos

[Service]
ExecStart=/usr/bin/python /home/pi/riverboard/riverboard_servos.py
Environment=PYTHONUNBUFFERED=1
Environment=GPIOZERO_PIN_FACTORY=pigpio
Restart=on-failure


# Automatically Starting the Service during Boot
[Install]
WantedBy=default.target
